/*Europa CSS includes, but is not limited to Evolok styling*/

/*	set intial display to none, let JS set to display	(europa/js/subscription-embedded-flow.js	*/
/*
#evolok-register, #evolok-myaccount, #evolok-login, #evolok-logout, #evolok-choose-products, #evolok-demogs {
	display:none;
}
*/

/*fix funky position breaking layout*/
.flip-back, .flip-front {
	position: static !important;
}

ev-profile nav {
	background-color: grey;
	font-size:0.95em;
	width: 100%;
	overflow: hidden;
}

ev-profile nav ul {
	list-style: none;
	-webkit-padding-start:0px;
}

ev-profile nav ul li {
	float:left;
	width:50%;
}

#europa-content-left .field-item.even ev-profile nav ul li,
.modal-content ev-profile nav ul li,
li.evolok-nav-for-login.current-nav-evolok,
li.evolok-nav-for-login.inactive-nav-evolok,
li.evolok-nav-for-register.current-nav-evolok,
li.evolok-nav-for-register.inactive-nav-evolok {
	color: white;
	text-align: center;
	padding: 10px;
	/*border: 1px solid grey;
	border-bottom: none;*/
}
/*above is overriden when current with the current styles (below)*/
#europa-content-left .field-item.even ev-profile ul li.current-nav-evolok,
.modal-content ev-profile ul li.current-nav-evolok,
li.evolok-nav-for-register.current-nav-evolok,
li.evolok-nav-for-login.current-nav-evolok {
    background-color: white;
    color: #222;
}

/*#659AD2*/

#login-divider > div > p {
	color:#222;
	font-size:0.75em;
}

/*following 2 definitions control the tabbed nav effect of the widget*/
.europa-evolok-inner-wrap {
	border:1px grey solid;
	border-top:none;
}

ev-profile nav {
    border: 1px solid grey;
    border-bottom: none;
}

.inactive-wrap-evolok {
	display:none !important;
}

li.inactive-nav-evolok {
	cursor: pointer;
}

ev-profile-when {
	display:none;
}

ev-profile #widget-body {
	width:510px;
}

#widget-body .widget-input {
	padding: 0px 5px !important;
}

#checkbox-demog-wrap {
	width:400px;
	/*margin:0 auto;*/
  margin-bottom: 40px;
  overflow: hidden;
}

/*but will set a different label with jquery by 
traversing the dom for the checkbox type answers
and then going back up the dom, look in sites/all/themes/zeneo/js/script.js*/
#capture-evolok-demogs label {
	width: 100%;
}

#checkbox-demog-wrap #capture-evolok-demogs label {
	width:250px;
}

#checkbox-demog-wrap > div > div > div > div.form-group label:first-child { /* label sibling of below */
	width:50px;
	float:left;
}

#checkbox-demog-wrap > div > div > div > div.form-group > label.widget-label {
	width:150px;
	float:left;
	margin-top: -7px;
}

/* help make the checkboxes appear more compact*/
#checkbox-demog-wrap .form-group {
	margin-bottom:0px;
}

#capture-evolok-demogs #checkbox-demog-label {
	font: 13px ProximaNovaRegular,Helvetica,sans-serif;
	color:#333;
}

#checkbox-demog-wrap > div.ng-scope {
	margin:0 0 0 40px;
}

/*modal AD-widget specific*/


.europa-ad-widget-container ev-profile nav,
.europa-ad-widget-container .europa-evolok-inner-wrap {
	width:520px;
	margin:0 auto;
}

.europa-ad-widget-container {
	padding-bottom:20px;
}

#progress-sub-widget-display {
	width: 300px;
	margin: 0 auto;
}

#progress-sub-widget-display div div.text-progress {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding-top:10px;
}

/*		

	Set styles to go with the below (JS)

		case "evolok-myaccount":
			document.getElementById(event.widget_guid).style.display = "none";
			document.getElementById("evolok-choose-products").style.display = "block";
			break;
		case "evolok-choose-products":
			document.getElementById(event.widget_guid).style.display = "none";
			document.getElementById("evolok-demogs").style.display = "block";
			break;
		case "evolok-demogs":			
			document.getElementById(event.widget_guid).style.display = "none";
			document.getElementById("evolok-choose-products").style.display = "block";*/
			
/*set initially as display none except teh first page*/

#evolok-myaccount.hide-widget-page,
#evolok-choose-products.hide-widget-page,
#evolok-demogs.hide-widget-page,
#complete-sub-widget.hide-widget-page,
#progress-sub-widget-display .hide-progress-widget {
	display:none;
}

#evolok-myaccount.show-widget-page,
#evolok-choose-products.show-widget-page,
#evolok-demogs.show-widget-page,
#complete-sub-widget.show-widget-page,
#progress-sub-widget-display .show-progress-widget {
	display:box;
}

/*with the labels in the choose product*/
.description-for-checkbox {
	width: 380px;
	display: block;
	float: left;
	font-size: 0.8em;
	color:#333;
	font-style:italic;
}
/*label of above*/
#capture-evolok-choose-products label {
    width: 100%;
}


/*LOGOUT PAGE*/

.logout-msg-ev {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;
}

.logout-msg-ev p {
	margin:20px;
}

.logout-msg-ev button {
	margin:20px;
}

/*activation page button*/
button.evolok-call-to-action {
	background-color:#EEE;
	height:30px;
	padding:0px 30px;
	border-radius:2px;
	border-width:1px;
	font-size:0.9em;
	margin-bottom:10px;
}

button.evolok-call-to-action:hover {
	background-color:#DDD;
}

button.evolok-call-action:active {
	background-color:#CCC;
}

/*required optin when logging in first time from a different site*/
.europa-evolok-message {
	overflow:auto; 
	width:100%; 
	font-size:1.1 em;
}

.europa-evolok-message img.europa-logo {
	float:left; 
	margin-right:20px;
}

.europa-evolok-message p {
	padding:20px;
	color:#333;
}

.further-information p {
	font-style:italic;
	font-size:0.85em;
	color:#333;
	padding:20px;
}

.modal-content label[for*="_optin"] {
	float:none;
	width:100%;
}

.modal-content .description-for-checkbox {
	float:left;
	margin:10px;
	width:280px;
}

.modal-content div[ng-if="isCheckboxAttribute(attribute)"] {
	width:10px;
	float:left;
}

/*gets rid of this random leftover div <div class="ev col-sm-9"><!-- ngIf: !isCompositeAttribute(attribute) --></div>*/
.modal-content .description-for-checkbox + div.ev {
	display:none;
}

.modal-content .description-for-checkbox ~ div.form-group input[type="checkbox"] {
	margin:10px;
}

#evolok-required-optin-wrap,
#evolok-address-confirmation-wrap {
	display:none;
}

.heading-progress {
	padding-top:10px;
	color:#333;
}

.subheading-progress {
	padding-top:10px;
	font-size:0.9em;
	color:#333;
}


#complete-sub-widget {
	padding:20px;
}

#complete-sub-widget p {
	margin:10px;
}

#widget-body .widget-label {
	color:#333;
}

.modal-content #buttonPanel > div > div {
	float:right;
	margin-left:20px;
}


#g-recaptcha-id {
	padding:20px;
}

aside .widget-notice {
    width:90%;
    margin:-10px 0px 0px 20px;
    font-size:0.95em;
    background-color:rgba(0,0,0,0.05);
    padding:8px;
    border-radius:5px 5px 0px 0px;
}

div.messages a {
	font-weight:bold;
	text-decoration:underline;
}

.europa-evolok-message-header {
	width:100%;
	margin-bottom:20px;
	position:relative;
}

.europa-evolok-message-contents {
	margin:20px;
}

.europa-evolok-message-close {
	position:absolute;
	top:10px;
	right:10px;
	cursor: pointer;
}